<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" />
		<title>{% block title %}{% endblock %} Materiais de construção DUTRA</title>
		
		{% block media %}

		{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css"/>
		{{ form.media.css }}
		{% endblock %}

		{% block js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/crsf.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
		{{ form.media.js }}
		{% endblock %}

		{% endblock %}
		{% block header %} {% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<div class="container header">
				<div id="menu" class="subnav subnav-fixed">
					<ul class="nav nav-pills">
						<li><h4>Materiais de construção DUTRA</h4></li>
						<li class="divider"></li>
						<li><a href="/"><i class="icon-list"></i>Produtos</a></li>
						<li><a href="/orcamento/"><i class="icon-share"></i>Novo orçamento</a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="container" style="margin-top: 30px">
				{% if messages %}
				{% for message in messages %}
				<div class="alert {{ message.tags }}">
					<a class="close" data-dismiss="alert" href="#">×</a>
					{{ message|safe }}
				</div>
				{% endfor %}
				{% endif %}

				{% block content %}
				{% endblock %}
				<div class="push"></div>
			</div>
		</div>
	</body>
</html>
