<html>
   <head>
     <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css"/>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui.min.css"/>
     <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/crsf.min.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
     {% block header %}
     {% endblock %}
   </head>
   <body>
     <div class="middle font1">
       <div id="content">
         {% block content-title %}{% endblock %}
         <div class="base">
           <section id="main">
             {% block content %}
             {% endblock %}
           </section>
         </div>
       </div>
     </div>
   </body>
</html>
