<html>
  <head>
    <title>MARJÓIAS</title>
    <style>
      @page {
        size: a4;
        margin: 1cm;
      } 
      body {font-size: 11px;}
    </style>
  </head>
  <body>
    <center>
      <h1 style="padding: 0px; border: 0px;">MARJÓIAS</h1>
      <p style="padding: 0px; border: 0px;">(61) 8137-9054 / (62) 8197-8673</p>
    </center>

    <table BORDER="1" BORDERCOLOR="black">
      <tbody>
        <tr style="padding: 1px;">
          <td style="width:90px;">Nome:</td>
          <td colspan="3"></td>
        </tr>
        <tr style="padding: 1px;">
          <td style="width:90px;">Endereço:</td>
          <td colspan="3"></td>
        </tr>
        <tr style="padding: 1px;">
          <td style="width:90px;">Cidade:</td>
          <td></td>
          <td>Entrega</td>
          <td></td>
        </tr>
        <tr style="padding: 1px;">
          <td style="width:90px;">Fone:</td>
          <td></td>
          <td>Devolução</td>
          <td></td>
        </tr>
        <tr style="padding: 1px;">
          <td style="width:90px;">CPF:</td>
          <td></td>
          <td>Comissão</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: center;">KIT DE FOLHEADOS</p>
    {% include "consig/table.html" with rowset=object.row_set1 %}

    <pdf:nextpage/>
    <center>
      <h1>MARJÓIAS</h1>
      <p>(61) 8137-9054 / (62) 8197-8673</p>
    </center>
    <p style="text-align: center;">KIT DE FOLHEADOS</p>
    {% include "consig/table.html" with rowset=object.row_set2 %}

    <p clear="all">-</p>
    <table border="1" bordercolor="black">
      <thead>
        <tr style="padding: 1px;">
          <th>&nbsp</th>
          <th>Valor (R$)</th>
          <th>Qtd. de peças vendidas</th>
          <th>Qtd. de peças devolvidas</th>
        </tr>
      </thead>
      <tbody>
        <tr style="padding: 1px;">
          <td>Brincos</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 1px;">
          <td>Anéis</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 1px;">
          <td>Correntes</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 1px;">
          <td>Pulseiras</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 1px;">
          <td>Pingentes</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 1px;">
          <td>TOTAL</td>
          <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
        </tr>
      </tbody>
    </table>
    <p clear="all">-</p>
    <table border="1" bordercolor="black">

      <tbody>
        <tr style="padding: 3px;">
          <th>MARJÓIAS</th>
          <th>&nbsp</th>
          <th>Vencimento</th>
        </tr>
        <tr style="padding: 3px;">
          <td>Comissão da Cliente</td>
          <td>&nbsp</td><td>&nbsp</td>
        </tr>
        <tr style="padding: 3px;">
          <td colspan="3">Assinatura da Cliente</td>
        </tr>
      </tbody>
    </table>
    <pdf:nextpage/>
    <h1>TERMO DE COMPROMISSO</h1>
    <ol>
      <li>O mostruário de semi-joias será recolhido 20 dias após a entrega;</li>
      <li>A vendedora receberá outro mostruário somente quando pagar a nota promissória ou emitir cheque pré-pago;</li>
      <li>A garantia para trocar peças com defeito é de 6 meses, a partir da data da compra;</li>
      <li>Não trocamos peças quebradas;</li>
      <li>Vendas abairo de R$ 50,00 (cinquenta reais), não terá direito a comissão e receber outro mostruário;</li>
      <li>A vendedora não poderá pôr no mostruário peças de outro fabricante e brincos descasados serão considerados como venda;</li>
      <li>Todo mostruário deverá obrigatoriamente ser conferido na entrega e na devolução;</li>
      <li>Vendedora que trocar etiquetas ou alterar preços não receberá mais mostruário;</li>
      <li>Peças com defeito deverão ser trocadas por outra do mesmo valor no mostruário da vendedora;</li>
      <li>A vendedora não poderá riscar ou marcar as etiquetas;</li>
      
    </ol>
    <table border="1" bordercolor="black">
      <thead>
        <tr style="padding: 2px;">
          <th colspan="5">CONTROLE DE VENDAS</th>
        </tr><tr style="padding: 2px;">
          <th>CLIENTE</th><th>FONE</th><th>PRODUTO</th><th>PREÇO</th><th>VALOR</th></tr>
      </thead>
      <tbody>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
        <tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
      </tbody>
        
  </body>
</html>
