<table border="1" bordercolor="black" style="font-size: 12px; width: 800px;">
  <thead>
    <tr style="padding: 1px;">
      <th colspan="3"><b>{{ rowset.labels.0 }}</b></th>
      <th colspan="3"><b>{{ rowset.labels.1 }}</b></th>
      <th colspan="3"><b>{{ rowset.labels.2 }}</b></th>
    </tr>
    <tr style="padding: 1px;">
      <th>Código</th><th>Valor</th><th>Descrição</th>
      <th>Código</th><th>Valor</th><th>Descrição</th>
      <th>Código</th><th>Valor</th><th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rowset.get_rows %}
    <tr style="padding: 1px;">
      {% with p=row.p1.produto %}
      <td style="width: 70px;">{{ p.codigo }}</td>
      <td style="width: 50px;">{{ p.valor|floatformat:0 }}</td>
      <td style="width: 115px;">{{ p.desc }}</td>
      {% endwith %}
      {% with p=row.p2.produto %}
      <td style="width: 70px;">{{ p.codigo }}</td>
      <td style="width: 50px;">{{ p.valor|floatformat:0 }}</td>
      <td style="width: 115px;">{{ p.desc }}</td>
      {% endwith %}
      {% with p=row.p3.produto %}
      <td style="width: 70px;">{{ p.codigo }}</td>
      <td style="width: 50px;">{{ p.valor|floatformat:0 }}</td>
      <td style="width: 115px;">{{ p.desc }}</td>
      {% endwith %}
    </tr>
    {% endfor %}
    <tr style="padding: 1px;">
      {% if rowset.c1 %}
      <td colspan="2"><b>Total de peças</b></td><td>{{ rowset.c1.total }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}

      {% if rowset.c2 %}
      <td colspan="2"><b>Total de peças</b></td><td>{{ rowset.c2.total }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}

      {% if rowset.c3 %}
      <td colspan="2"><b>Total de peças</b></td><td>{{ rowset.c3.total }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}
    </tr>
    <tr style="padding: 1px;">
      {% if rowset.c1 %}
      <td colspan="2"><b>Valor total do kit</b></td><td >{{ rowset.c1.valor_total|floatformat:0 }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}

      {% if rowset.c2 %}
      <td colspan="2"><b>Valor total do kit</b></td><td >{{ rowset.c2.valor_total|floatformat:0 }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}

      {% if rowset.c3 %}
      <td colspan="2"><b>Valor total do kit</b></td><td >{{ rowset.c3.valor_total|floatformat:0 }}</td>
      {% else %}
      <td colspan="2">&nbsp</td><td>&nbsp</td>
      {% endif %}
    </tr>
  </tbody>
</table>
