{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lethus.listBuilder.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/consig.js"></script>
{% endblock %}
{% block content-title %}
<header id="header">
  <hgroup>
    <span id="title">
      <b>Gerar consignação</b>
    </span>
    
  </hgroup>
</header>
{% endblock %}

{% block content %}
<a href="/">Lista de produtos</a>
<br/>
<input type="text" id="produto_cod" />
<a id="add_produto" class="button" href="#">Adicionar produto</a>
<span id="toolbar" class="ui-widget-header ui-corner-all">
  <a id="post-delete" class="hide-nojs alone-action button-icon" href="#" rev="ui-icon-trash">Apagar</a>
  <a id="post-clean" class="button-icon" href="#" rev="ui-icon-trash">Limpar produtos</a>
  <a id="generate" class="button-icon" href="/consig/generate/" rev="ui-icon-trash">Gerar lista de consignação</a>
</span>
<div id="list">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="result">
    <thead class="ui-corner-all">
      <tr>
	<th scope="col">ID</th>
	<th scope="col">Código</th>
	<th scope="col">Descrição</th>
	<th scope="col">Categoria</th>
	<th scope="col">Valor Unitário</th>
      </tr>
    </thead>
    <tbody class="ui-corner-all">
    </tbody>
  </table>
</div>

{% endblock %}
