{% extends "base.html" %}
{% block title %}Consignações{% endblock %}
{% block header %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lethus.bootstrapListBuilder.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lethus.bootstrapListBuilder.css" />

<script type="text/javascript">
$(document).ready( function (e) {
    $("#list table").listbuilder({iDisplayLength: 100, filterSuport: false});
});
</script>


{% endblock %}

{% block content %}
<div class="page-header">
  <h3>Consignação</h3>
</div>

<div id="toolbar" class="btn-group">
  <a id="add-btn" class="btn" href="/consignacoes/add/">
    <i class="icon-plus"></i> Adicionar
  </a>
  <a id="edit-btn" class="btn alone-action dblclick" href="/consignacoes/produtos/%d/">
    <i class="icon-pencil"></i> Produtos
  </a>
  <a id="delete-btn" class="alone-action btn" href="/consignacoes/finish/%d/">
      <i class="icon-remove"></i> Finalizar
  </a>
  <a id="delete-btn" class="alone-action btn" href="/consignacoes/detail/%d/">
      <i class="icon-info-sign"></i> Detalhes
  </a>
  <a id="delete-btn" class="alone-action btn" href="/consignacoes/print/%d/">
      <i class="icon-print"></i> Imprimir
  </a>
</div>

<div id="list">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Pasta</th>
				<th scope="col">Estado</th>
			</tr>
		</thead>
		<tbody class="ui-corner-all">
		</tbody>
	</table>
</div>

{% endblock %}
