{% extends "base.html" %}


{% block content %}
<div class="page-header">
	<h3>
		Finalizar consignação<br/>
		<small>Ao confirmar os dados não será possivel a alteração da consignação</small>
	</h3>
</div>

<form action="." method="POST">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Produto</th>
				<th>Vendido</th>
			</tr>
		</thead>
		<tbody>
			{% for item, field in form.iter_produto_items %}
			<tr>
				<td>{{ item.produto.desc }}</td>
				<td>{{ field }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<p class="btn-group">
		<button type="button" class="btn" onclick="history.go(-1)">
			Voltar
		</button>
		<input type="submit" value="Salvar" class="btn btn-primary"></input>
	</p>
</form>
{% endblock %}
