body {
	margin: 5px; padding: 0px; outline: 0px; border: 0px; font-size: 11px; font-family: 'Ubuntu', "Droid Sans", Helvetica, arial, sans-serif; background-color: #2e3436;);
}
.middle {
    margin: 0px auto; width: 960px; 
}
.window {
    margin: 0px auto;
    width: 960px;
    height: 690px;
    padding: 0 5px 5px 5px;
    margin-top: 10px;
    background-color: #eeeeec;
    background-color: rgba(238, 238, 236, 0.75);
    border: 1px solid #2e3436;
    font-family: 'Ubuntu', "Droid Sans", Helvetica, arial, sans-serif; font-size: 11px;
}
/* corrigindo bordas aparecendo no ieca */
img {
    border: 0px;
}

.font1 {
    font-family: 'Ubuntu', "Droid Sans", Helvetica, arial, sans-serif; font-size: 11px;
}

#content {
    width:960px;
    display:inline;
    float: left;
    position: relative;
    margin-left: 1.0%;
    margin-right: 1.0%;
    margin-top: 1.0%;
    padding-bottom: 50px;
}
form {
    margin: 0px; padding: 0px; outline: 0px; border: 0px; font-size: 100%;
}
label {
    margin: 0px; padding: 0px; outline: 0px; border: 0px; font-size: 100%;
}
.clear {
    margin: 0px; padding: 0px; clear: both;
}
:focus {
    outline: 0px;
}

/* customizacoes toolbar UI jquery */
#toolbar, span.toolbar {
display: block; 
padding: 3px 2px; 
font-size: 11px; 
height: 30px;
}
#toolbar2 a {
    margin: 0px 0px 3px 3px; 
    color: rgb(74, 74, 74); 
    font-weight: 700;
    font-size: smaller; 
    text-shadow: -1px 1px 0 #e9e9e9;
    text-decoration: none;
}

#toolbar2 span.ui-icon {
    display: inline-block;
    top: 4px;
    position: relative;
}

.apagar{
    padding: 5px 0px 0px 3px; 
    color: rgb(51, 51, 51); 
    font-size: 16px; 
    text-shadow: -1px 1px 0 #F0F0F0;
}
.apagar-atencao{
    font-size: 12px;
    text-shadow: -1px 1px 0 #F0F0F0;
    color: rgb(206, 17, 17);
}
/*#toolbar a {display: inline-block;}*/
#dialog-confirm {display: none; }
.errorlist { padding: 2px; margin: 0px; margin-bottom: 10px; color: red;}
.errorlist li { list-style-type: none; }
.window tr.error input {border-color: red;}
tr.error label {color: red;}
tr.error select {border-color: red;}
.window input[type=text], .window input[type=password] {
    font-size: 11pt;
    border: 1px solid;
    border-color: #666666 #333333 #333333 #666666;
    background-color: #FFFFFF;
    margin-bottom: 6px;
    padding: .4em;
}
input[type=text].default-value {color: #888a85 !important; }
.alone-action, .many-action {display: none;}
.id-col {display: none;}
.ui-state-error {display: inline-block; margin-bottom: 3px;}
tr.row {cursor: default;}
.hidden {display: none;}
div#filter {width: 160px; margin: 0px; display: inline-block; vertical-align: top;}
div#filter select {max-width: 145px;}
div#filter input.search-text {width: 100px !important;}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  background: url(../img/loading.gif) no-repeat;
  z-index: 4000;
}

#list {
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; background-color: white;
height: 600px;
}
.field.required label {font-weight: bold;}
.field {width: 450px;}
input[type=text].default-value {color: #888a85 !important; }


/* CSS PARA A TELA DE ERROR DO SISTEMA - ACESSO NEGADO */
.denied p { text-align:justify;}
.denied #frase-error{
    padding-top: 100px;
    color: rgb(144, 153, 162); 
    font-size: 20px; 
    text-shadow: -1px 1px 0 #F0F0F0;
    font-family: Verdana;
}
.denied .traco {
    background: rgb(188, 188, 188); margin: 10px 1px 10px 1px; width: 1px; height: 290px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.denied .fright {
    float: left; width: 350px; margin-left: 5px;
}
.denied .btnsend { float: right;}
.denied #reason { 
    color: #FF3D3D; 
    font-weight: bold;
    font-size: 12px; 
    text-shadow: -1px 1px 0 #F0F0F0;
    font-family: Verdana;
    text-align: center;
    width: 350px;
}

/* box */
.box {width: 340px; float: left; margin-right: 5px;}
.box .title {padding: .4em 1em;}

/* estilo para exibição dos detalhes das pessoas */
.person { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #D4D4D4; margin-bottom: 10px; }
.person .lft {display: inline-block; height:55px;}
.person .ico {margin-top:5px;}
.person .rgt {display: inline-block; padding:3px 0 0 5px; border-left: 1px solid #d4d4d4; height: 57px; vertical-align: top;}
.person .rgt a { color: #5c5c5c;  font-weight:bold; line-height:normal; text-decoration:none; outline:none;}
.person .rgt a:hover {  color:#1CA5EC; }
.person .more {float:right; position: relative; top: -19px; left: 5px;  }
.person .slab {position: relative; top: -20px; left: 9px; font-size: 8px; font-weight: bold;  width:30px;text-align: center;-moz-transform: rotate(-8deg); -o-transform: rotate(-8deg); -webkit-transform: rotate(-8deg); -ms-transform: rotate(-8deg); transform: rotate(-8deg);  filter: progid:DXImageTransform.Microsoft.Matrix( M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand'); zoom: 1; }

#loaderror {
    width: 960px;
    float: left;
    display: none;
    margin-left: 1.0%;
    margin-right: 1.0%;
    margin-top: 1.0%;
}

#footer {clear: both; width: 500px; margin: 0px auto; text-align: center; color: #d3d7cf;}

.formsetfield {margin-bottom: 5px;}
