{% extends "base.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.price_format.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#id_valor_compra, #id_valor_venda').priceFormat({
            prefix: 'R$ ',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
	});
</script>
{% endblock %}


{% block content %}
<div class="page-header">
	<h3>
		{% if object %}Editando{% else %}Adicionando{% endif %} produto
		<small>* são obrigatórios</small>
	</h3>
</div>

<form action="." method="POST">
	{% include "form_snippet.html" %}

	<p class="btn-group">
		<button type="button" class="btn" onclick="history.go(-1)">
			Voltar
		</button>
		<input type="submit" value="Salvar" class="btn btn-primary"></input>
	</p>
</form>
{% endblock %}
